@import 'tailwindcss';

@theme {
	/* Typography */
	--font-pretendard: var(--font-pretendard);

	/* Color Palette */
	--color-white: #ffffff;
	--color-black: #000000;

	--color-gray-100: #e5e5ea;
	--color-gray-200: #d4d4d4;
	--color-gray-300: #aeaeb2;
	--color-gray-400: #8e8e93;
	--color-gray-500: #848487;
	--color-gray-600: #636366;
	--color-gray-700: #4a4a4a;
	--color-gray-800: #303030;
	--color-gray-900: #1a1a1a;

	--color-background: #f6f6f9;
	--color-main: #1aaf35;
	--color-main2: #00dda8;
}
